.gradle/
**/build/
.tools/
local.properties
.idea/
*.iml
.DS_Store
*.csv
!testing/**/*.csv

.kotlin/

app/src/main/assets/models/*.onnx
app/src/androidTest/assets/detection/*
!app/src/androidTest/assets/detection/.gitkeep
app/src/main/assets/models/runtime.json

__pycache__/
